/* ================================= 
  Clearfix
==================================== */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* ================================= 
  Base Element Styles
==================================== */

body {
	background-color: #fafafa;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
}
a {
	color: #000;
	text-transform: uppercase;
	font-size: 1.3em;
	text-decoration: none;
}

a:hover {
	color: blue;
}

h1 {
	font-size: 2em;
}

h2 {
	text-transform: uppercase;
	font-size: 1.3em;
}

h3 {
	font-size: 1.5em;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav li {
	padding: 5px 0;
}

.main-nav a {
	display: block;
	padding: 5px 0;
	background-color: #fff;
}


/* ---- Layout Containers ---- */


.main-header {
	text-align: center;
	width: 90%;
	margin: 0 auto 50px;
	display: flex;
	flex-direction: column;
}

.about-me {
	color: #7f7f7f;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.main-content {
	background-color: #fff;
	margin: 0 auto 50px;
	text-align: center;
	width: 100%;
}

.col {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 60px;
	width: 90%;
}

.contact {
	margin: auto;
	padding: 50px 0;
	text-align: center;
	width: 90%;
	color: #7f7f7f;
}

.main-footer {
	width: 90%;
	height: 75px;
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items:center;
	border-top: 2px solid #e7e7e7;
	font-size:.75em;
}

/* ---- Page Elements ---- */

.profile-photo {
	width: 75%;
}

#portfolio-title {
	margin: 0 auto;
	padding: 50px 0;
}


.portfolio-img {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 25px;
}

.contact p {
	font-size: 1.2em;
}

.contact a {
	padding-left: 10px;
	color: #7f7f7f;;
	text-decoration: none;
	font-weight: bold;
}

.footer-name {
	font-size: 2em;
	font-weight: bold;
	display:block;
}

.footer-nav {
	display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.main-header {
		align-items: center;
	}

	.header-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.header-nav li{
		margin-right: 15px;
	}

	.header-nav a {
		padding: 0 30px;
		background-color: transparent;
	}


	.profile-photo {
		display: inline-block;
		float: right;
		width: 350px;
		padding-left: 50px;
		padding-bottom: 80px;
	}

	.cols {
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.col {
		flex: 1 40%;
		margin: 0 30px;
	}

	.back-to-top {
		display: none;
	}

	.footer-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer-nav li {
		margin-left: 60px;
	}

	.footer-nav a {
		display: block;
	}

}

@media (min-width: 1024px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.profile-picture {
		width: 450px;
	}

	.main-content {
		width: 90%;
	}

	.col {
		flex: 1 25%;
		margin: 0 15px;
	}
}


